.card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    
}
.image-container{
    align-items: center;
    padding: 10px;
}
.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}
.card-deck{
    min-height: 100%;
    display: flex;
    padding-left: 80px;
    padding-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    align-items: center;
}