.detail-header{
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(https://i.pinimg.com/originals/12/13/35/1213358919454b1e4e0a0ec3990c64b7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    margin-top: 10px;
    margin-bottom: 50px;
    height: 200px;
    text-align: center;
}
.img{
    width: 150px;
    padding: 10px;
}
.img-team{
    width: 300px;
    padding: 10px;
    border-radius: 20px;
    align: right;
    float: right;
}
.team-card{
    background-color: #121225;
    padding: 50px;
    color: white;
}
.text{
    color: white;
    margin-top: 20px;
    text-align: justify;
}
.card{
    background-color: green;
}
.card-text{
    padding: 20px;
}
.social{
    align-items: center;
    padding-right: 300px;
    padding-left: 300px;
}
.social-img{
    width: 50px;
}